.space {
    flex: 0 1 60%;
}

.input{
    width: 100%;
    min-width: 300px;
  }

  .contend{
    display: flex;
    padding: 20px;
    max-width: 600px;
    margin: 10px 0px;
    margin: 0 auto;
  }

  .ip {
      max-width: 600px;
  }

  .ip-input {
      max-width: 300px;
  }